/* ----------------------------------------- */
/* CSS Reset */
/* ----------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* ----------------------------------------- */
/* Custom properties */
/* ----------------------------------------- */

:root {
  /* Colors */

  --bg-primary: hsl(30, 38%, 92%);
  --bg-card: hsl(0, 0%, 100%);
  --heading-blue: hsl(212, 21%, 14%);
  --text-grey: hsl(228, 12%, 48%);
  --text-green: hsl(158, 36%, 37%);

  /* Margins */

  --mar-b-75: 0.75rem;
  --mar-b-1: 1rem;
  --mar-b-1_5: 1.5rem;
  --mar-rl-1_5: 0 1.5rem;
}

/* ----------------------------------------- */
/* General Style */
/* ----------------------------------------- */

body {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-primary);
}

.card {
  background-color: var(--bg-card);
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: min(90%);
  border-radius: 0.625rem;
  overflow: hidden;
}

.hero-img {
  margin-bottom: var(--mar-b-1_5);
}

.wrapper {
  margin: var(--mar-rl-1_5);
}

.category-text {
  color: var(--text-grey);
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: var(--mar-b-75);
}

.heading-primary {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--heading-blue);
  margin-bottom: var(--mar-b-1);
}

.about-text {
  color: var(--text-grey);
  margin-bottom: var(--mar-b-1_5);
}

.price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--text-green);
  display: flex;
  align-items: center;
}

.price-old {
  color: var(--text-grey);
  font-size: 0.8125rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
  margin-left: 1rem;
  align-self: flex-end;
}

.footer {
  margin-top: auto;
}
